/* encabezado fijo para que se vea en toda la pagia */
* {
    padding: 0;
    margin: 0;
  }
  p {
    margin-bottom: 20px;
  }
  .wrapper {
    width: 80%;
    margin: auto;
    overflow:hidden;
  }
  header {
    background: rgba(70,189,241,0.42);
    width: 100%;
    position: fixed;
    z-index: 10;
  }
  